{% extends 'base.html.twig' %}

{% block title %}About me{% endblock %}

{% block menu %}
    {{ parent() }}

        <li class="nav-item">
            <div>EUROPE: {{ date|format_date(pattern="d/M/Y") }}</div>
        </li>
        <li class="nav-item">
            <div>AMERICA: {{ date|format_date(pattern="M/d/Y") }}</div>
        </li>
        <li class="nav-item">
            <div>CHINA/JAPAN: {{ date|format_date(pattern="Y/M/d") }}</div>
        </li>
{% endblock %}

{% block body %}
            <div class="col-sm-12 col-md-9">
                <h1>Hello {{ controller_name }}! ✅</h1>
                <h1>Hello {{ name }}!</h1>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi ducimus, earum, eligendi
                    ex fugiat maxime nam nemo optio perspiciatis ratione unde. Enim ex iusto nobis nulla omnis placeat
                    tempora.
                </div>
                <div>Aspernatur debitis dicta dolor, harum in labore laboriosam mollitia nisi nostrum praesentium quasi
                    quo quos similique! Asperiores dolorum et iste, modi mollitia nam necessitatibus odit pariatur
                    perferendis quam rerum tempora!
                </div>
                <div>Ad alias asperiores assumenda aut corporis, doloribus harum hic ipsum iure maxime minus mollitia
                    neque nobis nostrum obcaecati odit optio quisquam, quod repudiandae sapiente sint sit suscipit
                    voluptatem voluptates voluptatibus.
                </div>
                <div>Assumenda corporis deleniti eos facilis, fugit laudantium minus modi mollitia nostrum quam
                    quibusdam totam vel! Dolores illo ipsum molestias mollitia neque quod totam vitae! Consequuntur
                    culpa excepturi necessitatibus numquam quis!
                </div>
                <div>At distinctio eos error itaque minima neque nesciunt reprehenderit repudiandae veritatis. Accusamus
                    alias at atque consectetur dolor eius, eum eveniet exercitationem modi obcaecati odit quisquam
                    sapiente sequi similique sunt tempore!
                </div>
                <div>A ab accusamus assumenda cum delectus eligendi, exercitationem labore laboriosam nesciunt officiis
                    repellat tempora unde, voluptatum. Architecto autem beatae corporis, doloremque ea illum impedit in
                    incidunt labore nulla, rerum voluptas?
                </div>
                <div>Aliquam aspernatur minima optio quis quos reprehenderit voluptate. Accusantium aliquam beatae
                    blanditiis cumque debitis inventore ipsum maiores mollitia nam numquam odio omnis perspiciatis
                    praesentium quia rem rerum, sapiente tempore voluptatem.
                </div>
                <div>At culpa dolore, doloremque ducimus enim eveniet excepturi fugiat id iste maxime obcaecati optio,
                    quos sequi tempore voluptatem? Aliquam assumenda doloribus magnam maiores nihil nostrum numquam
                    obcaecati quas quasi velit?
                </div>
                <div>Ad asperiores consequuntur corporis debitis delectus deleniti deserunt dolore dolorum eaque ex,
                    excepturi facere incidunt magnam necessitatibus numquam omnis quo, recusandae, repellendus rerum sit
                    soluta suscipit temporibus vero voluptates voluptatum.
                </div>
                <div>Accusantium beatae consequatur culpa cum cumque dolorem enim esse exercitationem explicabo fuga
                    harum ipsum iste necessitatibus obcaecati quidem recusandae similique, suscipit tempore. Aspernatur
                    deserunt laboriosam odit quo recusandae reprehenderit sapiente.
                </div>
                <div>Aliquid asperiores assumenda autem commodi cumque cupiditate dolor dolorem enim est, illo illum
                    laboriosam, libero minima neque nobis numquam officiis possimus quae quas quidem reprehenderit
                    sapiente, tempora totam veritatis vitae?
                </div>
                <div>Cumque facere fuga fugit itaque laborum, molestias nulla, provident quam reprehenderit sunt totam
                    voluptates? Blanditiis dolor dolorum, ducimus harum incidunt laboriosam necessitatibus neque officia
                    reprehenderit, saepe tempora velit veritatis voluptates.
                </div>
                <div>Ad aliquam, autem commodi consequuntur debitis deleniti deserunt dignissimos, dolores enim eos esse
                    ipsa laborum modi omnis optio pariatur perspiciatis porro, provident quasi quo repudiandae saepe vel
                    velit vero voluptatem!
                </div>
                <div>Fuga natus nobis nulla odio quae, repellendus repudiandae vero? Cumque, dolores fuga itaque
                    laboriosam laudantium non quaerat quis ratione veritatis. Architecto consequatur dolorum eius
                    obcaecati quis quo sunt, tempora voluptas?
                </div>
                <div>Aspernatur beatae consequatur culpa debitis dignissimos dolorem et, inventore iste iure laudantium
                    necessitatibus quaerat, quas recusandae repellendus similique sit voluptate voluptatem! Commodi
                    delectus enim eveniet in ipsam labore nobis officia?
                </div>
                <div>Ab ad aliquid assumenda aut blanditiis debitis deleniti doloribus et eum illo ipsum, iure iusto,
                    laborum maiores maxime nobis odit porro quae quam quia quos recusandae suscipit veniam. At, odio?
                </div>
                <div>Architecto beatae corporis dolor dolorem doloribus ducimus enim est eveniet fugiat in maxime minus
                    molestias nam natus necessitatibus nisi nobis perferendis provident recusandae repudiandae, sequi
                    sunt temporibus unde veniam voluptate!
                </div>
                <div>Adipisci aspernatur corporis dignissimos. A animi, at dolores error eveniet facilis fugiat incidunt
                    ipsa ipsam molestiae nesciunt optio quidem quisquam rerum, sunt tenetur velit voluptatum? Incidunt
                    iste minus soluta voluptatem.
                </div>
                <div>Aliquam at atque culpa cum cumque delectus ea eligendi hic illo, illum in ipsa iste libero maiores
                    maxime nostrum officiis perspiciatis quod rem, sequi soluta sunt tempore vel. Earum, quos.
                </div>
                <div>Adipisci asperiores consectetur culpa debitis deleniti ea, fugiat fugit laborum neque odio quo
                    ratione sequi voluptas? Adipisci assumenda consequatur doloribus harum laboriosam, laborum libero,
                    placeat rem saepe totam voluptate voluptatibus?
                </div>
                <div>Corporis dignissimos explicabo incidunt nesciunt odio, recusandae reprehenderit suscipit tempora
                    voluptate! Autem consectetur facilis ut. Architecto, dignissimos dolorem doloremque dolorum
                    excepturi itaque minima nam non quaerat quas quia sint suscipit.
                </div>
                <div>Ad animi atque autem beatae commodi consectetur cum deleniti distinctio eaque fuga fugit itaque
                    maxime, officiis optio pariatur quaerat quam quas qui quod reprehenderit sed temporibus unde vero
                    voluptate voluptatem!
                </div>
                <div>Accusamus, eius, reprehenderit. Architecto aut consectetur debitis dolorum eaque eius error esse
                    est illum iusto minus nesciunt quo, similique! Dignissimos dolorum eius et excepturi nostrum odio
                    officia praesentium repudiandae sed!
                </div>
                <div>Culpa laudantium reiciendis voluptatibus! A animi dicta dolor dolore dolorem doloremque eos, eum
                    eveniet ex explicabo facilis fuga id in nemo, numquam officia perspiciatis quos saepe tempore
                    tenetur vitae voluptatum.
                </div>
                <div>Aliquid aperiam assumenda consectetur delectus impedit itaque natus recusandae repudiandae, saepe.
                    Eligendi provident reprehenderit tempore. Aliquam, assumenda fugiat laudantium maxime obcaecati
                    placeat porro quae quas quidem, sint vel velit voluptatibus?
                </div>
                <div>Atque cumque enim eos excepturi laboriosam laudantium odio possimus quo repudiandae saepe, sequi
                    similique temporibus! Architecto ea et minus nam placeat repellendus sunt. Assumenda dicta doloribus
                    ipsam, mollitia numquam reiciendis!
                </div>
                <div>Debitis eius minus obcaecati praesentium quis soluta tenetur! Consectetur dicta harum ipsam nam
                    nihil officia perferendis, quaerat quos voluptatibus. Deleniti excepturi numquam quae reiciendis
                    rerum! Assumenda dolorum eos quae repudiandae!
                </div>
                <div>Dolorem facere illo impedit neque quo sequi, similique sunt ullam ut vero? Amet cupiditate dolores
                    magni nihil, quas similique tempora. Corporis distinctio itaque, molestiae natus officia provident
                    reprehenderit rerum ullam.
                </div>
                <div>Alias culpa et exercitationem facilis fugit nobis quas quos vel veniam. A alias aspernatur
                    consequatur culpa doloribus dolorum eveniet, id minima, pariatur praesentium quae quod reprehenderit
                    rerum saepe, tempora temporibus!
                </div>
                <div>Aspernatur doloremque, earum excepturi fuga inventore ipsam ipsum magni nemo quod quos ratione
                    reprehenderit, sint suscipit unde voluptates. Blanditiis itaque necessitatibus nemo nostrum omnis
                    quos recusandae repellat sequi vero voluptate.
                </div>
                <br>
                <br>
                <p>{{ quote() | nl2br }}</p>
            </div>



{% endblock %}
