{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block menu %}
    {{ parent() }}

    <li class="nav-item">
        <div>{{ name |title }}</div>
    </li>

{% endblock %}

{% block body %}


    <div class="">
        <h1>Hello {{ name }}!</h1>
        <a href="{{ path('learning_aboutme') }}">About Me</a>
        <br>
        <a href="{{ path('changeMyName') }}">Change Name</a>
        <br>
        <br>
        <p class="">{{ quote() | nl2br }}</p>
    </div>
{% endblock %}
